/*
 * Style tweaks
 * --------------------------------------------------
 */
@import  url("https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css");
@import  url("https://uploads-ssl.webflow.com/51e0d73d83d06baa7a00000f/css/matthewtancik.webflow.3d5d1738d.min.css");
html,
body {
  overflow-x: hidden;  /*Prevent scroll on narrow devices */
  padding-top: 30px;
    text-align: justify;
}
footer {
  padding: 10px 0;
}
.authors {
  font-size: 20px;
}
/*.container {
  max-width: 768px;
}*/
.container {
  max-width: 1000px;
}
p {
  font-size: 16px;
  /*padding-bottom: 20px;*/
}

li {
  font-size: 16px;
}

s2 {
    text-align: center;
    align: center;
    font-size: 36px;
}

.jumbotron{
    text-align: center;
}

.btn {
    font-size: 18px;
}

.btn-disabled {
    /*background-color: #f4f4f4;*/
}

.jumbotron h2 {
  font-size: 36px;
}

.section {
  padding-top: 30px;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.results_video {
  margin: 0 0.5em;
}
.vcontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gif {
    padding:10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.caption {
  width:75%; 
  font-size:14px
}

.bibtexsection {
  font-family: "Courier",monospace;
  font-size:16px;
  white-space:pre;
  background-color: #f4f4f4;
      margin-left: auto;
    margin-right: auto;
  text-align:left;
}

.canvas-row canvas {
  max-width:100%;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.vspace-top {
    margin-top: 30px;
}

